body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: rgb(68, 68, 68);
}

/* Start Nav */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(15, 122, 175);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1.2em;
}

.link {
  text-decoration: none;
  color: rgb(252, 249, 249);
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  font-size: 0.95em;
}

.hello {
  font-weight: bold;
  margin-right: 0;
  color: rgb(248, 224, 4);
}

/* End Nav */

/* Start Common to components */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-title {
  text-transform: uppercase;
  color: rgb(15, 122, 175);
  border-bottom: 1px solid rgb(180, 179, 179);
  width: 40%;
}
/* End Common to components */

/* Start Home */

.home-body {
  width: 40%;
  font-size: 1.3em;
  line-height: 2em;
}

.btn {
  background-color: rgb(15, 122, 175);
  outline-style: hidden;
  border: 1px solid rgb(15, 122, 175);
  font-size: 1.3em;
  padding: 0.8em;
  width: 200px;
  margin: 0 10px;
  color: rgb(252, 249, 249);
  text-decoration: none;
}
.login {
  background-color: rgb(252, 249, 249);
  color: rgb(15, 122, 175);
}

.buttons-group {
  /* height: 6vh; */
  display: flex;
}

.btn:hover {
  background-color: rgb(252, 249, 249);
  color: rgb(15, 122, 175);
}
.btn:active {
  font-size: 1.35em;
}
.login:hover {
  background-color: rgb(15, 122, 175);
  color: rgb(252, 249, 249);
}
/* End Home */

/* Movies */
.search-movies {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 40%;
  font-size: 1.3em;
}
.formSearch {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputText {
  font-size: 1.4em;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(15, 122, 175);
  margin-right: 15px;
}
.inputText:focus {
  box-shadow: 0 0px 5px rgb(15, 122, 175);
  padding: 5px 0px 5px 5px;
  border: 1px solid rgb(15, 122, 175);
}
.search {
  font-size: 1.1em;
  padding: 0.5em;
  width: 50px;
}
.movies-results {
  width: 85%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}
.aMovieBlock {
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  width: 300px;
  box-shadow: 0 0px 5px rgb(68, 68, 68);
  overflow: hidden;
}

.movie-poster {
  object-fit: fill;
}
.movie-title {
  font-size: 1.2em;
  border-bottom: 1px solid rgb(180, 179, 179);
  border-top: 1px solid rgb(180, 179, 179);
  width: 60%;
  align-self: end;
}

.form-signup-container {
  /* display: grid; */
  width: 40%;
  /* justify-content: center; */
}

.form-signup {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border: 1px solid rgb(15, 122, 175);
  padding: 25px;
}
.signup-form-child {
  width: 80%;
  font-size: 1.3em;
}
.btn.signup-form-child {
  width: 30%;
  margin-top: 10px;
}
